@use '../abstracts/variables.scss';

.settings-screen {
    background-color: variables.$color-settings-screen-background;

    padding: 128px 280px;

    &__title-wrapper {
        position: relative;
        margin-bottom: 40px;
    }

    &__title {
        font-family: 'Red Rose';
        font-size: 54px;
        font-weight: 700;
        color: variables.$color-text-dark;
    }

    &__title-decoration {
        position: absolute;
        left: -24px;
        bottom: -14px;

        width: 251px;
    }

    &__content {
        font-family: 'Almarai';

        display: flex;
        justify-content: space-between;
    }

    &__settings-area {
        padding-left: 20px;

        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    
    &__group {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__group-title {
        position: relative;

        font-size: 24px;
        font-weight: 700;

        margin-bottom: 16px;
    }

    &__group-title-icon {
        position: absolute;
        top: 2px;
        left: -38px;
    }

    &__preview-area {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__preview-image {
        height: 380px;
        width: auto;
    }

    &__summary-bar {
        background-color: variables.$color-settings-summary-bar;
        width: 546px;
        height: 80px;
        padding: 14px 20px;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__summary-options {
        position: relative;

        font-size: 20px;
        font-weight: 400;

        display: flex;
        gap: 48px;
    }

    &__summary-decoration {
        position: absolute;

        &--first {
            top: -16px;
            left: 124px;
        }

        &--second {
            top: -16px;
            left: 228px;
        }
    }
}